body{
  height: 90vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box{
  height: 100px; width: 100px; border-radius: 10px; border: solid black;
  background-color: lightblue; 
  display: flex; align-items: center;
  justify-content: center;
  
}